# ignore garbage
.git
.cache
.tmp
.vscode
.vs
.nuget
# ignore markdown files
*.md
# except README.mds
!README.md
# ignore folders
# **
node_modules
packages
projects
resources
deploy
cypress
BuildTargets
src/app/
**/bin/**
**/obj/**
# except dist
!dist
